{%extends 'base.html'%}
{%load static%}
{%block content%}
<h3>Tweeets for you</h3>
    <div class="container">
      <div class="row">
        <div id="tweeet" class="col-8">
    {%for tweeet in tweeets%}
            <div class="alert alert-dark tweeet" role="alert" data-tweet-id="{{ tweeet.id }}">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            {%if tweeet.user.profile.profile_image%}
                                <img src="{{tweeet.user.profile.profile_image.url}}" class="rounded-circle" width="50" height="50">
                            {%else%}
                                <img src="{%static 'images/icon.jpg'%}" class="rounded-circle" width="50" height="50" alt="profile image">
                            {%endif%}
                        </div>
                        <div class="col-10 text">
                             <b>{{tweeet.user.first_name}}
                            {{tweeet.user.last_name}}</b>
                            @{{tweeet.user.username}}
                            <small class="text-muted">
                            {{tweeet.created_at}}
                            </small><br>
                            {{tweeet.body}}<br>
                            {{tweeet.likes_counted}}
                            {%if user in tweeet.likes.all%}
                                <a href="{%url 'tweeet_like' tweeet.id%}">
                                    <i class="fa-solid fa-heart" style="color:#dc093e"></i></a>
                            {%else%}
                                <a href="{%url 'tweeet_like' tweeet.id%}">
                                    <i class="fa fa-heart-o" style="color:#dc093e"></i></a>
                            {%endif%}
                                &nbsp;&nbsp
                                 <a href="{%url 'show_tweeet' tweeet.id%}">  <i class="fa fa-share" style="color:black"></i></a>
                        </div>
                            <br><br>
                    </div>
                </div>
            </div>
    {%endfor%}
            <script>
    document.addEventListener("DOMContentLoaded", function() {
        var tweeetElements = document.querySelectorAll(".tweeet");

        tweeetElements.forEach(function(element) {
            element.addEventListener("click", function() {
                // Extract the tweet ID from a data attribute
                var tweetId = element.getAttribute("data-tweet-id");

                // Construct the URL using the tweet ID
                var url = "{% url 'show_tweeet' 0 %}".replace("0", tweetId);

                // Redirect to the constructed URL
                window.location.href = url;
            });
        });
    });
</script>

    </div>
    <div class="col-4">
        {%if form%}
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn btn-secondary">post</button>
        {%endif%}
</form>
    </div>
      </div>
    </div>
{%endblock%}


