{%extends 'base.html'%}
{%load static%}
{%block content%}
<h3>Search Tweeets</h3><br><br>
    <div class="container">
        <form class="d-flex" role="search" method=POST>
            {%csrf_token%}
            <input class="form-control me-2" type="search" placeholder="" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <br><br>
        {%if search%}
        <b>You Searched For: {{search}}</b><br>
        {%for tweeet in searched%}
            <div class="alert alert-dark" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                           {%if tweeet.user.profile.profile_image%}
                                <img src="{{tweeet.user.profile.profile_image.url}}" class="rounded-circle" width="50" height="50">
                            {%else%}
                                <img src="{%static 'images/icon.jpg'%}" class="rounded-circle" width="50" height="50" alt="profile image">
                            {%endif%}
                        </div>
                        <div class="col-10">
                             <b>{{tweeet.user.first_name}}
                            {{tweeet.user.last_name}}</b>
                            @{{tweeet.user.username}}
                            <small class="text-muted">
                            {{tweeet.created_at}}
                            </small><br>
                            {{tweeet.body}}<br>
                            {{tweeet.likes_counted}}
                            {%if user in tweeet.likes.all%}
                                <a href="{%url 'tweeet_like' tweeet.id%}">
                                    <i class="fa-solid fa-heart" style="color:black"></i></a>
                            {%else%}
                                <a href="{%url 'tweeet_like' tweeet.id%}">
                                    <i class="fa fa-heart-o" style="color:black"></i></a>
                            {%endif%}
                                &nbsp;&nbsp
                                 <a href="{%url 'show_tweeet' tweeet.id%}">  <i class="fa fa-share" style="color:black"></i></a>
                    </div>
                </div>
        {%endfor%}
        {%endif%}
    </div>
    </div>
    </div>
{%endblock%}


